@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <a class="nav-link text-dark" asp-area="" asp-controller="Stores" asp-action="Create">Build Store</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Stores" asp-action="Index">StoreList</a>
    </div>
